<!-- start custom head snippets -->

<link rel="shortcut icon" href="{{ '../landing/vendor/flat-ui/images/favicon.ico' | relative_url }}">

<link rel="stylesheet" href="{{ '../landing/vendor/flat-ui/bootstrap/css/bootstrap.css' | relative_url }}">

<link rel="stylesheet" href="{{ '../landing/vendor/flat-ui/css/flat-ui.css' | relative_url }}">

<link rel="stylesheet" href="{{ '../landing/vendor/common-files/css/icon-font.css' | relative_url }}">

<link rel="stylesheet" href="{{ '../landing/vendor/common-files/css/animations.css' | relative_url }}">
<link rel="stylesheet" href="{{ '../landing/css/style.css' | relative_url }}">

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
